#new_comment
  - form_for :comment, :url => {:controller => "comment", :action => "create"} do |f|
    = hidden_field_tag :sid, @question.sid
    = f.label :comment, "leave a comment", :class => "blue"
    = f.text_area :comment, :rows => 2
    %a#comment.button.blue.dark_grey_bg comment
