.static
  %label.login
    about us
  .content
    %p
      During the holidays of 2008, founders 
      = link_to "@picturejohn", "http://twitter.com/picturejohn", :target => "blank"
      &amp; 
      = link_to "@jordangons", "http://twitter.com/jordangons", :target => "blank"
      discussed the need to get answers on Twitter. whether it be a corporate 
      poll or a simple "what should I wear today" question, we wanted feedback 
      we could really see, without several @replies and DMs being spread throughout 
      our Twitter account.
    %p
      We needed results and TwitChoice was born.
    %p
      In January of 2009,
      = link_to "@redeemedfadi", "http://twitter.com/redeemedfadi", :target => "blank"
      joined our team to help make the
      vision possible.
    %p
      We exist so you can get answers on Twitter.

