.static
  %label.login
    terms of use
  .content
    %p
      TwitChoice reserves the right to remove any question for any reason whatsoever.
      Specifically, any question uploaded that is  offensive in nature
      (including links to spam, nudity,
      violence, sexual acts, or sexually provocative images), infringes upon
      copyrights not held by
      the uploader, is illegal or violates any laws, will be immediately
      deleted and the IP address
      of the uploader reported to authorities. Violating these terms may
      result result in termination of
      your ability to upload further questions.
    %p
      We reserve the right to ban any individual uploader or website domain
      from using our servies
      for any reason.
    %p
      We cannot be held liable for any damages.
    %p
      By uploading your questions to TwitChoice you give TwitChoice &amp;
      TwitChoice users permission
      to use or distribute your questions and answers on TwitChoice.com or
      any other site for publicity
      or any other use.

